body {
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-content: center;
  }

.calculator {
  height: 50vh;
  width: 50vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 35vw;
  max-height: 50vh;
  padding:0;
  margin: 0;
 }

.calcbody {
  height: 45vh;
  width: 30vw;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    
}

.display {
  width: 27vw;
  min-height: 10vh;
  background-color: aliceblue;
  border-radius: 3%;
  margin:5%;
}

.buttons {
  height: 28vh;
  width: 80%;
  background-color: palegreen;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-top: 1vh;
  padding-left: 5vw;
  margin: 0;
  margin-bottom: 5%;
  padding-bottom: 5%;
  min-width: 25vw;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  height: 4vh;
  width: 4vh;
  background-color: sandybrown;
  display: flex; 
  justify-content: center; 
  align-items:center;
  border-radius: 10%;
  margin:5%;
  
}

.valueone{
  display:inline-block;
  width:20%;
}

.valuetwo{
  display:inline-block;
  width:40%;
}

.valueoperator{
  display:inline-block;
  width:10%;
}
.valueequals{
  display:inline-block;
  width:10%;
  padding-left:1vw;
}

/* Mobile styles */
@media (max-width: 500px) {
  .calculator {
    height: 95vh;
    width: 100vw;
  }
  
  .calcbody {
    height: 50vh;
    width: 95vw;
  }
  
  .display, .buttons {
    width: 80vw;
  }
  
  .button {
    height: 5vh;
    width: 5vh;
  }

 
}